* {
    margin: 0;
    padding: 0;
    font-family: 'Questrial-Regular';
    /* transition: 1s; */
}

@font-face {
    font-family: 'Questrial-Regular';
    src: url('../assets/Questrial-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --mainty: #000000;
    --manga: #507CFA;
    --manga2: #507dfa48;
    --mena: #f84c31;
}

body {
    background-color: var(--mainty) !important;
    overflow-x: hidden;
}

#text {
    color: transparent;
    -webkit-text-stroke: 0.5px var(--manga);
    -webkit-background-clip: text;
    background-position: 0 20px;
}

#text1 {
    color: transparent;
    -webkit-text-stroke: 0.5px rgb(100, 100, 100);
    -webkit-background-clip: text;
    background-position: 0 20px;
}

#champ::placeholder{
    color: #9c9c9c;
}

#mondee2, #mondee3{
    display: none;
}

@media (max-width:1200px){
    #isa{
        margin-top: 2vh;
    }
}

@media (max-width:640px){
    #soratra{
        margin-top: 12vh;
        text-align: center;
    }
    .tele{
        justify-content: center;
        display: flex;
    }
    #isa{
        margin-top: 2vh;
    }
    #conta{
        margin-top: 6vh;
        text-align: center;
    }
    #lie{
        display: none;
    }
    .icon{
        justify-content: center;
    }
    #btnFarany{
        margin-top: 10%;
    }
    #btns{
        margin-left: -5vw;
    }
    #mondee2, #mondee3{
        display: block;
    }
}